/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #af00fa;
  color: #000;
  padding: 20px;
}

.header__column {
  display: flex;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.main__column {
  margin-bottom: 40px;
}

.main__column__title {
  margin-bottom: 10px;
  text-align: center;
}

.main__column__info {
  line-height: 1.5;
}

.main__column__btn button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}

.main__column__btn button:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center; /* Center-align the title */
}
